.t-header{
    background-color: #d4d4d4;
    border: 1px solid;
    border: 1px solid grey
}

tr{
    font-size: 3vh;
    height: 4vw;
    border: 1px solid grey;
}

td, th{
    border: 1px solid grey;
}

table{
    border-collapse: collapse;
    width: 70vw;
}